<?xml version="1.0" encoding="utf-8"?>
<CustomizeSettings>
  <xmlSerializerSection type="System.Collections.ArrayList, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <ArrayOfAnyType xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <anyType xsi:type="xsd:int">300</anyType><!--问询间隔默认300毫秒 -->
      <anyType xsi:type="xsd:int">1</anyType><!--串口地址,默认1 -->
      <anyType xsi:type="xsd:boolean">false</anyType><!--是否打开自动关机 -->
      <anyType xsi:type="xsd:dateTime">2005-12-30T04:29:29.5312500+08:00</anyType><!--自动关机时间 -->
      <anyType xsi:type="xsd:dateTime">2005-12-30T04:29:29.5312500+08:00</anyType><!--短信迟到时间 -->
      <anyType xsi:type="xsd:dateTime">2005-12-30T04:29:29.5312500+08:00</anyType><!--短信晚接时间 -->
      <anyType xsi:type="xsd:string">http://www.shanghaichuangzhi.com/UpdateVersion.xml</anyType><!--自动更新地址 -->
      <anyType xsi:type="xsd:string">上海版</anyType><!--软件版本-->
    </ArrayOfAnyType>
  </xmlSerializerSection>
</CustomizeSettings>