<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="CTPPDB" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="CTPPDB" type="Sql Server" connectionString="Sql Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="Sql Connection String">
          <parameters>
            <parameter name="database" value="CTPPDB" isSensitive="false" />
            <parameter name="Max Pool Size" value="300" isSensitive="false" />
            <parameter name="Min Pool Size" value="200" isSensitive="false" />
            <parameter name="Password" value="ctpp" isSensitive="true" />
            <parameter name="Persist Security Info" value="false" isSensitive="false" />
            <parameter name="Pooling" value="true" isSensitive="false" />
            <parameter name="server" value="CHINA-56566171E\SERVER_2000" isSensitive="false" />
            <parameter name="User ID" value="ctpp" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>