<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultAuthorizationInstance="" defaultAuthenticationInstance="" defaultRolesInstance="" defaultProfileInstance="" defaultSecurityCacheInstance="" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <rolesProviders>
        <rolesProvider xsi:type="DbRolesProviderData" name="Role Database Provider" database="CTPPDB" />
      </rolesProviders>
      <authorizationProviders>
        <authorizationProvider xsi:type="AuthorizationRuleProviderData" name="RuleProvider">
          <rules>
            <rule name="CardInfo Management" expression="R:admin" />
            <rule name="GardenInfo Management" expression="R:admin" />
            <rule name="SimpleFinanceInfo Management" expression="R:admin" />
            <rule name="SMSInfo Management" expression="R:admin" />
            <rule name="StudentBaseInfo Management" expression="R:admin" />
            <rule name="StudentHealthInfo Management" expression="R:admin" />
            <rule name="StudentInTimeReport Management" expression="R:admin" />
            <rule name="StudentMorningCheckInfo Management" expression="R:admin" />
            <rule name="StudentParentVisitInfo Management" expression="R:admin" />
            <rule name="TeacherBaseInfo Management" expression="R:admin" />
            <rule name="TeacherDutyInfo Management" expression="R:admin" />
            <rule name="Transaction Reminder" expression="R:admin" />
          </rules>
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders>
        <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Database Provider" database="CTPPDB" hashProvider="SHA1Managed" />
      </authenticationProviders>
      <profileProviders />
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>