<?xml version="1.0" encoding="utf-8"?>
<UserStyleProfile>
  <xmlSerializerSection type="CPTT.SystemFramework.UserStyle, CPTT.SystemFramework, Version=1.0.2070.20396, Culture=neutral, PublicKeyToken=null">
    <UserStyle xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <StyleName>Default</StyleName>
      <SkinName />
    </UserStyle>
  </xmlSerializerSection>
</UserStyleProfile>